<footer class="sticky-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                
                    <img src="/images/RiverLogo-Circle-blue.png" class="logo-img" alt="">
                
                
                    <a href="" class="nav-link">Phone: 555-555-5555</a>
                    <a href="" class="nav-link">Email Us </a>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">

                <h5>Useful Info</h5>
                <a href="/" class="nav-link">Home</a>
                <a href="/new" class="nav-link">I'm New</a>
                <a href="/current" class="nav-link">Currently</a>
                <a href="/give" class="nav-link">Give with Purpose</a>
                <a href="/serve" class="nav-link">Serve</a>
                <a href="/community" class="nav-link">Community</a>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">

                <h5>Ministries</h5>
                <a href="" class="nav-link">Students</a>
                <a href="" class="nav-link">Women and Men</a>
                <a href="" class="nav-link">Outreach</a>
                <a href="" class="nav-link">Care</a>
                <a href="" class="nav-link">Prayer Request</a>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">

                <h5>Get The App</h5>
                <a href="" class=""><img class="app-button" src="/images/appstorebadge.png" alt=""></a>
                <a href="" class=""><img class="app-button" src="/images/googleplaybadge.png" alt=""></a>


            </div>
        </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3ad6df885d.js" crossorigin="anonymous"></script>
<!-- <script src="/public/javascript/main.js"></script> -->
</body>

</html>