<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The River Communit Church</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header>
        <nav class="navbar fixed-top bg-transparent">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a class="navbar-brand" href="#"><img src="/images/riverlogo.png"
                            alt="The River Community Church Logo" class="logo-img"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 navDiv">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="/">Home <span
                                    class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="/new">I'm New</a>
                            <a class="nav-item nav-link" href="/current">Currently</a>
                            <a class="nav-item nav-link" href="/give">Give with Purpose</a>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Connect
                            </a>
                            <div class="navbar-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-item nav-link" href="/serve">Serve</a>
                                <a class="nav-item nav-link" href="/community">Community</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>