<%- include("partials/header") -%>
<section class="light-background">
    <div class="container-fluid">
        <h3 class="text-center">Information on Groups</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>A heading goes here.</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                <img class="column-img" src="" alt="">
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                    <img class="column-img" src="" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
            </div>
    </div>
</section>







<%- include("partials/footer") -%>