<%- include("partials/header") -%>
<section id="give-page" class="dark-background">
    <div class="container-fluid">

    </div>
</section>
<section class="light-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Ways To Give</h3>
                <ul class="fa-ul">
                    <li class="my-4"><i class="fas fa-check-circle"></i> <b>Text Giving-</b> From your phone text ______
                        to ______</li>
                    <li class="my-4"><i class="fas fa-check-circle"></i> <b>Marketable Securities–</b> Transfer of
                        ownership of stocks, bonds, or mutual funds.</li>
                    <li class="my-4"><i class="fas fa-check-circle"></i> <b>Real and Personal Property–</b> The best way
                        to capture the value of appreciated property and get a tax- deduction at the same time, donate
                        jewelry, fine arts, cars, boats, or even real estate.</li>
                    <li class="my-4"><i class="fas fa-check-circle"></i> <b>Planned Gifts–</b> a great estate planning
                        tool, name The River Community Church as a beneficiary of your term or permanent life insurance policy,
                        retirement accounts, Will, or various types of Trusts. There are potential ways to great tax
                        benefits now rather than later.</li>
                    <li class="my-4"><i class="fas fa-check-circle"></i> <b>Matching Contributions–</b> See if your
                        employer will match your contributions.</li>
                </ul>
            </div>
             <div class="col-md-6">
                <img src="/images/give-side.jpg" class="column-img">
            </div>
        </div>
    </div>
</section>
<section class="dark-background">
    <div class="container-fluid">
        <h3 class="text-center">Q & A</h3>
        <div class="container">
            <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            WHY SHOULD I GIVE?
                        </button>
                    </h4>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Trusting God and putting Him first in your finances declares a blessing over your life. God
                        tells us to test him in bringing the whole tithe and see if He will not “throw open the
                        floodgates of heaven and pour out so much blessing that there will not be room enough to store
                        it” (Malachi 3:10).
                        Your giving at The River Community Church will allow us to reach others and increase their
                        awareness of the Good News, the Gospel of Jesus Christ
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h4 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            HOW DO I KNOW THAT MY GIVING IS BEING USED FOR KINGDOM PURPOSES?
                        </button>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        The River Community Church has multiple checks and balances in place to ensure that your giving
                        is allocated specifically towards Kingdom work. We also take part in an annual voluntary audit
                        which can be reviewed on this page
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h4 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            HOW SECURE IS MY ONLINE OR MOBILE GIVING?
                        </button>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        The River Community Church partners with echurch powered by Pushpay to offer convenient giving
                        options. Pushpay engages the highest industry standards of security in data storage, identity
                        verification, and extensive monitoring of system activity. Metro Church is and will continue to
                        be PCI compliant
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h4 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            HOW DO I ACCESS MY GIVING RECORDS?
                        </button>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <a class="buttons">Access Giving Statement</a><br>
                        <br>
                        You may log into your Ministry Platform Account (our congregant database) to view your giving
                        record at any time . If you are having problems accessing your records or need any additional
                        assistance, please contact us at accounting@therivercommunitychurch.com and we will be happy to
                        send you your record
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>





<%- include("partials/footer") -%>