<%- include("partials/header") -%>


<section id="new-page" class="dark-background">
    <div class="container-fluid">
        <div class="overlay">
            <div class="overlay-text">
                <h2>New</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate iure ut in. Sint, quam iusto
                    dolor ipsam reprehenderit voluptatibus totam maxime accusantium, incidunt odit alias id sunt
                    molestiae veritatis eveniet?</p>
            </div>
        </div>
    </div>
</section>
<section class="light-background">
    <div class="container">
        <div class="text">
            <h2>Mission</h2>
            <p>Changing the Entire Brentwood Community one life at a time through a genuine Apostolic lifestyle!</p>
        </div>
        <div class="text">
            <h2>Vision</h2>
            <p>The River Community Church was created to help people from all walks of life to go deep in their
                relationship with God with a true Pentecostal experience.<br>Ezekiel 47</p>
        </div>
    </div>
</section>
<section class="dark-background">
    <div class="container">
        <h3 class="text">Leadership</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                <img class="column-img" src="/images/pastors-image-new2.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="">
                    <h5>Lead Pastors</h5>
                    <p>
                        Kirt & Pamela Denney have served in full-time ministry for over 25 years.
                        In addition to ministry at the local level, they have been clinicians in
                        workshops, seminars and spoke at conferences both at home and overseas.<br>
                        <br>


                        Kirt & Pam have a passion for ministering the gospel as well as a deep love
                        for marriage and family. Over the course of their ministry, they have mentored
                        hundreds of couples and helped many of them prepare for marriage, or save their
                        marriage. Probably at the top of the list is a deep love for the presence
                        and power of God. They love to help people get connected to their potential
                        in Christ as they take the next steps in their spiritual journey.<br><br>

                        Pamela is a gifted speaker, singer and musician. In addition, Pam has a heart for
                        empowering and mentoring women to be all they can be in the Kingdom of God. She
                        frequently teaches classes and Bible studies directed at specifically helping women.<br>

                        With their two sons Jonathan and Keagan, they currently live in Franklin, TN and
                        serve as the pastors of The River Community Church in Brentwood.<br><br>

                        Pam is a Certified John Maxwell Teacher/Speaker and Coach.<br><br>

                        Kirt is a graduate of Christian Life College and holds an MBA.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-background">
    
        <div class="typeform-widget" data-url="https://tnnelson19.typeform.com/to/BbCmJT"
            style="width: 100%; height: 50vw;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
                href="https://admin.typeform.com/signup?utm_campaign=BbCmJT&utm_source=typeform.com-01E24KE9E56SG2Q93WRDH90R41-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
                style="color: #999" target="_blank">Typeform</a> </div>
</section>



<%- include("partials/footer") -%>