<%- include("partials/header") -%>
<section id="care-response" class="dark-background">
    <div class="container-fluid">
        <div class="overlay">
            <div class="overlay-text">
                <h3>The River Community Church Care Response Form for COVID-19</h3>
                <p>Even when we cannot meet in person we want you to know we are ready to walk alongside you. If you
                    need prayer, pastoral counseling or are in need of physical support please fill out the following
                    form. Our Team is ready to help.</p>
                <div class="">
                    <a class="typeform-share link buttons" href="https://tnnelson19.typeform.com/to/Q6k3ZJ"
                        data-mode="popup" target="_blank">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="response-team" class="dark-background">
    <div class="container-fluid">
        <div class="overlay-text">
            <h3>JOIN OUR RESPONSE TEAM</h3>
            <p>The River Community Church is setting up relief efforts to be in position to be “on the ready” for any
                needs that arise within our congregation or around our community due to COVID-19. If you would like to
                be a part of this team please sign up below.</p>
            <div class="">
                <a class="buttons" href="">Join Now</a>
            </div>
        </div>
    </div>
</section>
<section class="light-background">
    <div class="container-fluid">
        <h3 class="text-center">Serving at The River</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>A heading goes here.</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                        tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                        distinctio consequuntur non veritatis laudantium nulla!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                <img src="" class="column-img" alt="">
            </div>
        </div>
    </div>
</section>
<section class="dark-background">
    <div class="container-fluid">
        <h3 class="text-center">Serve Sundays</h3>
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                    <img src="" class="column-img" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
            </div>
    </div>
</section>
<section class="light-background">
        <div class="container-fluid">
            <h3 class="text-center">Serve Communities</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 img-container">
                     <img src="" class="column-img" alt="">
                </div>
            </div>
        </div>
</section>




<%- include("partials/footer") -%>