<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/css/style.css" />
    <script src="https://kit.fontawesome.com/ce509ef1ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/components/javascript/main.js"></script>
    <title>The River Community Church</title>
</head>

<body>
    <header class="header">
        <div>
            <a href="../index.html"><img src="../image/riverlogo.png"
                    title="The River Community Church/ Your Journey Starts Here!" class="logo" /></a>
        </div>
        <div id="countholder">
            <div><span class="days" id="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div><span class="hours" id="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div><span class="minutes" id="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div><span class="seconds" id="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
        <div class="section" style="background-image: url(../image/believe.jpg);height: 500px;">
            <div class="sectionHeadings">
                <h1>What to Expect</h1>
            </div>
        </div>
        <div id="mySideNav" class="appNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="../image/RiverLogo-Circle-white.png" class=nav-logo>
            <a href="../index.html">Home</a>
            <a href="new.html">I'm New</a>
            <a href="current.html">Currently</a>
            <a href="give.html">Give With Purpose</a>
            <a href="connect.html">Connect</a>

        </div>
        <span class="betaNav" onclick="openNav()" style="color: black;">&#9776;</span>
        <div class="section" style="background-image: url(../image/believe.jpg);height: 500px;"></div>
    </header>
    <div class="section" style="height: fit-content; background-color:rgba(100,149,237,0.3) ;">
        <div class="verses my-5">
            <h1>WHAT WE BELIEVE</h1>
        </div>
        <div class="container">
            >
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-globe"></i>
                        <div class="verse-content">
                            <p>We believe that there is only one God, who revealed Himself to humanity in the person of
                                Jesus Christ. </p>
                            <p><i>Deuteronomy 6:4; 1 Timothy 3:16; John 14:9</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-heart-o"></i>
                        <div class="verse-content">
                            <p>We believe that believers are called to live a holy, pure life before God and all
                                humanity.
                            </p>
                            <p><i>2 Corinthians 6:14-7:1; Hebrews 12:14</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fab fa-pagelines"></i>
                        <div class="verse-content">
                            <p>We believe that salvation is only found in Jesus Christ and is appropriated to humanity
                                by
                                God's grace through the New Testament new-birth experience. </p>
                            <p><i>Acts 4:12; Ephesians 2:8; John 3:3-7</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-arrow-circle-up"></i>
                        <div class="verse-content">
                            <p>We believe that the church will be raptured by Christ prior to the great tribulation and
                                will
                                exist with Him forever in eternity.</p>
                            <p><i>1 Thessalonians 4:15-18; 1 Corinthians 15:51-52; 1 Thessalonians 1:10</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-tint"></i>
                        <div class="verse-content">
                            <p>We believe that the new-birth experience is comprised of repentance, water baptism in the
                                name of Jesus Christ, and the infilling of the Holy Spirit. This is the New Testament
                                pattern for all believers to follow as a result of their faith in Christ. </p>
                            <p><i>Acts 2:38; Luke 13:1-5; Acts 10:44-48; Acts 19:5-6</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-book"></i>
                        <div class="verse-content">
                            <p>We believe that God's power is still active in the church and that healings, signs, and
                                miracles are available to God's people through faith in Jesus Christ.</p>
                            <p><i>Hebrews 13:8; 1 Corinthians 2:4; 1 Peter 2:24</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxed">
                        <i class="verse-icon fa fa-fire"></i>
                        <div class="verse-content">
                            <p>We believe that when a person receives the baptism of the Holy Spirit, that person will
                                speak
                                with other tongues under the inspiration of the Holy Spirit. </p>
                            <p><i>Acts 2:4; Acts 19:6; Isaiah 28:11</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <p style="font-size: x-large;"><strong>Mission</strong>: Changing the Entire Brentwood Community one
                        life at a time through a
                        genuine Apostolic lifestyle!</p>
                    <p style="font-size: x-large;"><strong>Vision</strong>: The River Community Church was created to
                        help
                        people from all walks of life
                        to go deep in their relationship with God with a true Pentecostal experience. Ezekiel 47</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionAlpha" style="background-color: rgba(100,149,237,0.3);">
        <div class="row">
            <div class="col-md-6">
                <img src="../image/pastors-image-new2.jpg" class="pastorImage">
            </div>
            <div class="col-md-6">
                <div class="pastorBio">
                    <h3>Lead Pastors</h3>
                    <p>
                        Kirt & Pamela Denney have served in full-time ministry for over 25 years.
                        In addition to ministry at the local level, they have been clinicians in
                        workshops, seminars and spoke at conferences both at home and overseas.<br>
                        <br>


                        Kirt & Pam have a passion for ministering the gospel as well as a deep love
                        for marriage and family. Over the course of their ministry, they have mentored
                        hundreds of couples and helped many of them prepare for marriage, or save their
                        marriage. Probably at the top of the list is a deep love for the presence
                        and power of God. They love to help people get connected to their potential
                        in Christ as they take the next steps in their spiritual journey.<br><br>

                        Pamela is a gifted speaker, singer and musician. In addition, Pam has a heart for
                        empowering and mentoring women to be all they can be in the Kingdom of God. She
                        frequently teaches classes and Bible studies directed at specifically helping women.<br>

                        With their two sons Jonathan and Keagan, they currently live in Franklin, TN and
                        serve as the pastors of The River Community Church in Brentwood.<br><br>

                        Pam is a Certified John Maxwell Teacher/Speaker and Coach.<br><br>

                        Kirt is a graduate of Christian Life College and holds an MBA.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-3">
                    <img src="../image/riverlogo.png" height="40px" width="40px" class="my-2" />
                    <p>Phone: 555-555-5555</p>
                    <p>Email Us</p>
                    <ul class="social">
                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Useful Info</h3>
                    <ul class="socialAlpha">
                        <li>I'm New</li>
                        <li>Currently</li>
                        <li>Give With Purpose</li>
                        <li>Connect</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Ministries</h3>
                    <ul class="socialAlpha">
                        <li>Kids</li>
                        <li>Students</li>
                        <li>Women and Men</li>
                        <li>Outreach</li>
                        <li>Prayer Request</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Get The App</h3>
                </div>
            </div>
        </div>
        </div>
    </footer>

</body>

</html>