<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/components/css/style.css" />
    <script src="https://kit.fontawesome.com/ce509ef1ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/components/javascript/main.js"></script>
    <title>The River Community Church</title>
</head>

<body>
    <header class="header">
        <div>
            <a href="../index.html"><img src="../image/riverlogo.png"
                    title="The River Community Church/ Your Journey Starts Here!" class="logo" /></a>
        </div>
        <div class="countLabel">Next Experience:</div>
        <div id="countholder">
            <div><span class="days" id="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div><span class="hours" id="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div><span class="minutes" id="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div><span class="seconds" id="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>

        <div>
            <image src="../image/RiverLogo-Circle-Black.png" class="center-logo"></image>
            <p class="center-tag">Your Journey Starts Here!</p>
        </div>
        <div id="mySideNav" class="appNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="../image/RiverLogo-Circle-white.png" class=nav-logo>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item"><a href="new.html">I'm New</a></li>
                <li class="nav-item"><a href="current.html">Currently</a></li>
                <li class="nav-item"><a href="give.html">Give With Purpose</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                    <div class="dropdown-menu" style="background-color:rgb(15, 10, 2) ;">
                        <a class="dropdown-item" href="serve.html">Serve</a>
                        <a class="dropdown-item" href="community.html">Community</a>
                    </div>
                </li>
            </ul>
        </div>
        <span class="betaNav" onclick="openNav()" style="color: black;">&#9776;</span>
        <div class="mainVideo">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="../video/Ocean.mp4" type="video/mp4">
            </video>
        </div>
    </header>
    <div class="section">
        <h3 class="my-3">Serving at The River</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="" style="background-color: gray; height: 300px; width: 300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="my-3">Serve Sundays</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="" style="background-color: gray; height: 300px; width: 300px;">
                </div>
                <div class="col-md-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="my-3">Serve Communities</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>A heading goes here.</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non nisi, provident ratione
                            tenetur veniam architecto quia dignissimos, culpa esse quaerat! Laboriosam maxime illum
                            distinctio consequuntur non veritatis laudantium nulla!</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="" style="background-color: gray; height: 300px; width: 300px;">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-3">
                    <img src="../image/riverlogo.png" height="40px" width="40px" class="my-2" />
                    <p>Phone: 555-555-5555</p>
                    <p>Email Us</p>
                    <ul class="social">
                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Useful Info</h3>
                    <ul class="socialAlpha">
                        <li><a href="new.html"> I'm New </a></li>
                        <li><a href="current.html"> Currently </a></li>
                        <li><a href="give.html"> Give With Purpose </a></li>
                        <li><a href="serve.html">Serve </a></li>
                        <li><a href="community.html"> Community </a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Ministries</h3>
                    <ul class="socialAlpha">
                        <li>Kids</li>
                        <li>Students</li>
                        <li>Women and Men</li>
                        <li>Outreach</li>
                        <li>Prayer Request</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Get The App</h3>
                </div>
            </div>
        </div>
        </div>
    </footer>

</body>

</html>