h1 {
  color: #512b58;
}
h3,
h4 {
  color: #2a7886;
  text-align: center;
}
.header {
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 0;
  max-height: 500px;
  overflow: hidden;
  padding-top: 0;
  position: relative;
}
.logo {
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
  width: 80px;
  z-index: 1;
}
.countLabel {
  color: #512b58;
  display: inline-block;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 30px;
  position: absolute;
  right: 30%;
  text-align: center;
  z-index: 1;
}
#countholder .link {
  margin-top: 40px;
}
#countholder a {
  background: #265;
  border-radius: 5px;
  color: silver;
  display: inline-block;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
}

#countholder a:hover {
  background: #487;
}

#countholder {
  background-color: #79bac1;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  right: 8%;
  text-align: center;
}

#countholder > div {
  background: #79bac1;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 8px;
}

#countholder div > span {
  background: #79bac1;
  border-radius: 5px;
  display: inline-block;
}

#countholder .smalltext {
  font-size: 14px;
  padding-top: 5px;
}
.center-logo {
  height: 150px;
  margin-left: 45%;
  margin-top: 15%;
  position: absolute;
  width: 150px;
}
.center-tag {
  color: #512b58;
  font-weight: bolder;
  font-size: 24px;
  margin-left: 41%;
  margin-top: 27%;
  position: absolute;
  text-align: center;
  z-index: 2;
}
.nav-logo {
  height: 100px;
  margin-left: 60px;
  margin-top: 20px;
  width: 100px;
}
.betaNav {
  color: #512b58;
  font-size: 30px;
  left: 95%;
  position: fixed;
  top: 25px;
  z-index: 2;
}
.appNav {
  background-color: #f1f3f4;
  height: 100%;
  left: 79%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 10px;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}
.dropdown-menu,
.dropdown-item:hover {
  background-color: #f1f3f4;
}
.appNav a,
.dropdown-menu a {
  color: #512b58;
  display: block;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
}
.appNav a:hover,
.dropdown-menu:hover,
.betaNav:hover {
  color: #79bac1;
}
.appNav .closebtn {
  color: #512b58;
  font-size: 36px;
  position: absolute;
  right: 25px;
  top: 0;
}
.sectionHeadings > h1 {
  color: #f1f3f4;
}
.section {
  background-color: #f1f3f4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  height: auto;
  min-height: 400px;
}
.sectionAlpha {
  background-color: #f1f3f4;
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  height: 600px;
}
.sectionHeadings {
  margin-top: 12%;
  text-align: center;
}
.sectionHeadings p {
  background-color: rgba(29, 28, 28, 0.3);
  color: #f1f3f4;
  font-weight: bolder;
}
.footer {
  background-color: rgb(29, 28, 28);
  bottom: 0;
  color: white;
  left: 0;
  position: relative;
  width: 100%;
}

.social li {
  display: inline-block;
  font-size: x-large;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
.socialAlpha li {
  list-style: none;
}
.verses {
  font-size: larger;
  text-align: center;
}
.boxed {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}
.boxed p {
  color: black;
  font-size: 16px;
  line-height: 1.47059;
}
.boxed .verse-icon {
  color: #79bac1;
  float: left;
  font-size: 64px;
  margin-top: 5px;
  width: 20%;
}
.boxed .verse-content {
  float: right;
  width: 80%;
}
.pastorImage {
  height: 100%;
  padding: 20px;
  width: 100%;
}
.pastorBio {
  padding: 20px;
}
